@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

/*
Ultraviolet: #54577C
Ghost White: #F8F8FF
Pigment Green (Co.): #11A856
Ai Planet Dark Tealy?: #003145


For Dark?
--pigment-green: #11a856ff;
--prussian-blue: #003145;
--cool-gray: #8789c0ff;
--periwinkle: #c2cae8ff;
--dun: #dac6b5ff;


blue cyan text: #b1ebff
dark bg: #03202b
random grey: #9aa3a5
*/


:root {
  font-family: "Inter", sans-serif;
  --bg-color: #fff7ed;
  --border-color: #dadada;
  --nav-bg-color: #dac6b5bb;

  --btn-hov-bg: #a3a2ae;
  
  --icon-border: #4f4f4f;
  --icon-color: #524438; 
  
  --scroll-bar: #3a3b4190;
  --scroll-base: #aca7cb66;
  
  --text-standard: #171717;
  --text-rev-std: #F8F8FF;
  --text-color: #474555;
  --text-neutral: #5e5e5e;
  
  --ai-chat-text: #171717;
  --ai-chat-bg: #c2cae8ff;
  --user-chat-bg: #dac6b592;
  --user-chat-text: #524438;
}


.dark {
  --bg-color: #03202b;
  --border-color: #1c1c1c;
  --nav-bg-color: #02131a;
  
  --btn-hov-bg: #171717;
  
  --icon-border: #171717;
  --icon-color: #cccccc;

  --scroll-bar: #3a3b41;
  --scroll-base: #131319;

  --text-standard: #F8F8FF;
  --text-rev-std: #171717;
  --text-color: #e4e4e4;
  --text-neutral: #a1a1a1;

  --ai-chat-text: #171717;
  --ai-chat-bg: #85a0ae;
  --user-chat-bg: #354a54;
  --user-chat-text: #f8f8ff;
}